<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Property Rental Agency Application | Login Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
	<section id="nav"></section>

	<h1 class="m-3 text-center">PROPERTIES</h1>

	<section id="addPropertyForm" class="m-auto mt-5 mb-5 w-auto text-center">
		<section id="rentals">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Owner</th>
						<th scope="col">Availability</th>
						<th scope="col">Property</th>
						<th scope="col">Start Date</th>
						<th scope="col">End Date</th>
						<th scope="col">Rent</th>
						<th scope="col">Hike</th>
						<th scope="col">Area</th>
						<th scope="col">Plinth</th>
						<th scope="col">Construction</th>
						<th scope="col">Floors</th>
						<th scope="col">Type</th>
						<th scope="col">BHK</th>
						<th scope="col">Address</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody id="rowData"></tbody>
			</table>
		</section>
	</section>

	<script src="extensions/editable/bootstrap-table-editable.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
	<script src="/js/nav.js"></script>
	<script src="/js/property.js"></script>
</body>

</html>